[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libraries/glbinding"]
	path = libraries/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "libraries/assimp"]
	path = libraries/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/ct-ecs"]
	path = libraries/ct-ecs
	url = https://github.com/gilmarxd/ct-ecs.git
	branch = master
[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/gilmarxd/imgui.git
	branch = docking
